<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device.width, initial-scale=1">
    <title>Tareas Cool</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='/static/base.css' rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <div class="container">

    <nav class="navbar navbar-default" role="nvaigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Superlistas</a>
            <form class="navbar-form navbar-right" method="POST" action="#">
                <span>Email:</span>
                <input class="form-control" name="email" type="text" />
                {% csrf_token %}
            </form>
        </div>
    </nav>

      <div class="row">
        <div class="col-md-12 col-md-offset-3 jumbotron" id="header">
          <div class="text-center">
            <h1>{% block header_text %}{% endblock %}</h1>
            <form method="post" action="{% block form_action %}{% endblock %}">
{#              <input name="item_text" id="id_new_item"#}
{#                class="form-control input-lg"#}
{#                placeholder="Ingresa una tarea"/>#}
                {{ form.text }}
              {% csrf_token %}
              {% if form.errors %}
                <div class="form-group has-error">
                  <span class="help-block">{{ form.text.errors }}</span>
                </div>
                {% endif %}
            </form>
          </div>
        </div>
      </div>

      <div class="row" id="table-row">
        <div class="col-md-12 col-md-offset-3">
          {% block table %}
          {% endblock %}
        </div>
      </div>

    </div>
      <!-- Import JQuery JS-->
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

   <!--Import Hiding errors JS -->
  <script src="../static/list.js"></script>

    <script>
        $(document).ready(function() {
            window.Superlists.initialize();
        });
    </script>

  </body>
</html>
