{% extends 'base.html' %}
{% block header_text %} Iniciar nueva lista de tareas{% endblock %}
{% block form_action %}{% url 'new_list' %}{% endblock %}
<!-- <html>
  <head>
    <title>To-Do lists</title>
  </head>
  <body>
    <h1>Start a New To-Do list</h1>

    <form method="post" action="/lists/new">
    <input name="item_text" id="id_new_item" placeholder="Enter a to-do item"/>
    {% csrf_token %}
    </form>
  </body>
</html> -->
